// contact-us less stylesheet
// by Daniel Silva 
// 12-02-2013
@box-padding: 1.4433%; // 14/970
@box-width: 59.7938%; // 308/970


.inner-margin{
    padding: @box-padding;
} 
.w308{
    max-width: @box-width;
}
