@gray: #BBBBBB;
@dark-gray: #999999;
@white: #FFFFFF;

.rounded(@radius) {
    border-radius: @radius;
    -o-border-radius: @radius;
    -ms-border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.center{
    margin: 0 auto;
}

.general-margin{
    margin: 0 3.125%; //32/1024
}

.inline-block{
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

/* 
    Document   : other-albums
    Created on : 11/02/2013, 09:23:24 AM
    Author     : Daniel Ortega
    Description:
        General style sheet for Other Albums Sections Block - Disco Store
*/

#other-albums{
    border-top: 2px solid @gray;
    text-align: left;
    .general-margin;
    
    header h2{
        color: @dark-gray;
        font-size: 1.4em;
        margin: 0;
        padding: 5px 0;
        text-transform: uppercase;
    }

    ul{
        margin:0;
        padding:0;
    }
    
    .other-album-grid{
        background: @gray;
        border: @dark-gray solid 1px;
        color: @white;
        height: 310px;
        margin: 0 0 12px 0;
        text-align: center;
        width: 32.291667%; //310/960
        .rounded(10px);
        .inline-block;
    }

    .other-album-grid:nth-child(3n+2){
        margin: 0 1.25% 12px;
    }

    .other-album-grid img{
        margin: 10px auto;
    }

    .other-album-name{
        font-size: 1.2em;
        font-weight: bold;
        margin: 2% 0 0;
    }
}