@gray: #BBBBBB;

.rounded(@radius) {
    border-radius: @radius;
    -o-border-radius: @radius;
    -ms-border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.center{
    margin: 0 auto;
}

.inline-block{
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}